<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/774f74ddac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
 <nav>
       <div class="logo">Logo</div>
      <ul>
<li><a class="active" href="/">Home</a></li>

      </ul>
</nav>
      <section class="log-section">
          <div class="Container">
<div class="user0 singinBx">

<div class="log-img">
    <img src="../static/imges/one1.jpg" alt="">
    </div>
  <div class="formBx">
<form action="#" method="post">
      <h2>Verify Email</h2>
      <input type="email" name="email" placeholder=" Email" pattern="(\d+)|[a-zA-Z]|(!)|(@)|(#)|($)|(%)|(^)|(&)|(\*)|(\()|(\))|(~)|(-)|(_)|(?)" required>
      <br><br>

      <br>
      {{error}}
      <br>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input  type="submit" name="submitreset" value="submit">

   </form>
</div>

</div>
</body>
</html>
